
header.custom-header {
    /*background:  rgb(18, 99, 146);*/
}

h3 {
    color: gray;
}

.page-content {
    width: 70%;
    margin: auto;
}

.custom-header .material-icons {
    color: rgba(255, 255, 255, 0.8);
}

.custom-header .material-icons:hover,
.custom-header .material-icons:focus {
    color: rgba(255, 255, 255, 1);
}

.custom-header .mdi {
    color: rgba(255, 255, 255, 1);
}

.mdl-layout-title {
    cursor: default;
}

.mdl-layout__drawer-button:focus {
    outline:0;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: rgba(255, 255, 255, 0.8);
}

.mdl-layout__header-row .mdl-navigation__link:hover,
.mdl-layout__header-row .mdl-navigation__link:focus {
    color: rgba(255, 255, 255, 1);
}

