
header.custom-header {
    /*background:  rgb(18, 99, 146);*/
}

h1, h2 {
    cursor: default;
}

h3 {
    cursor: default;
    color: gray;
}

.page-content {
    width: 70%;
    margin: auto;
    min-height: 100vh;
    text-align: center;
}

.custom-header .material-icons {
    font-size: 24px;
    color: inherit;
}

.custom-header .material-icons:hover,
.custom-header .material-icons:focus {
    color: inherit;
}

.custom-header .static-icon {
    color: rgba(255, 255, 255, 1);
}

.mdl-layout__drawer {
    border: none;
}

.mdl-layout__drawer .mdl-layout-title {
    padding-left: 0;
    color: white;
    background-color: #424242;
    height: 200px;
}

.mdl-layout__drawer .mdl-layout-title .profile-icon {
    margin-top: 20px;
    font-size: 120px;
}

.custom-header .mdl-layout__drawer-button {
    color: rgba(255, 255, 255, 0.8);
}

.custom-header .mdl-layout__drawer-button:hover,
.custom-header .mdl-layout__drawer-button:focus {
    color: rgba(255, 255, 255, 1);
}


.custom-header .mdi {
    color: rgba(255, 255, 255, 1);
}

.mdl-layout-title {
    cursor: default;
}

.mdl-layout__drawer-button:focus {
    outline:0;
}

.mdl-layout__header-row .mdl-navigation__link {
    font-size: 16px;
    opacity: 1;
    color: rgba(255, 255, 255, 0.8);
}

.mdl-layout__header-row .mdl-navigation__link:hover,
.mdl-layout__header-row .mdl-navigation__link:focus {
    color: rgba(255, 255, 255, 1);
}

.mdl-mdlselect-hoverable:hover {
    background-color: #ECECEC;
    cursor: pointer;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}


.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: 100%;
}
.mdl-textfield--file .mdl-button--file {
    right: -32px;
}

.datetime-field:hover {
    cursor: pointer;
}

.help-block {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    background-color: #DF3A27;
}

.jscolor:hover {
    cursor: pointer;
}

.mdl-dialog {
    text-align: center;
    min-width: 50%;
}

.user-info .material-icons {
    font-size: 20px;
}

.mdl-menu__item .mdl-navigation__link {
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 48px;
}