
header.custom-header {
    /*background:  rgb(18, 99, 146);*/
}

h1, h2 {
    cursor: default;
}

h3 {
    cursor: default;
    color: gray;
}

.page-content {
    width: 70%;
    margin: auto;
}

.custom-header .material-icons {
    color: rgba(255, 255, 255, 0.8);
}

.custom-header .material-icons:hover,
.custom-header .material-icons:focus {
    color: rgba(255, 255, 255, 1);
}

.custom-header .mdi {
    color: rgba(255, 255, 255, 1);
}

.mdl-layout-title {
    cursor: default;
}

.mdl-layout__drawer-button:focus {
    outline:0;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: rgba(255, 255, 255, 0.8);
}

.mdl-layout__header-row .mdl-navigation__link:hover,
.mdl-layout__header-row .mdl-navigation__link:focus {
    color: rgba(255, 255, 255, 1);
}

.mdl-mdlselect-hoverable:hover {
    background-color: lightgray;
    cursor: pointer;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}


.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
    right: 0;
}


